<ion-card-content>
<ion-progress-bar value={{progress}}></ion-progress-bar>
<br/> 
<p>Click below to start.</p>
<ion-button #btnProgress expand="block" (click)="onTimerClick()">Start</ion-button>
<ion-grid>
  <ion-row>
    <!-- <ion-col size="6" text-center>
      <span>Shuttle Timer</span>
        <ion-item color="warning" text-center>
            <ion-text color="dark" >
                <h1 >00:00</h1>
              </ion-text>
          </ion-item>
    </ion-col> -->
    <ion-col size="6" text-center>
      <span>Shuttle Timer</span>
          <div style="background-color:#d4b0b0;padding: 1em;border-radius:5px;">
              <h1 text-center style="text-align:center;color:black;">{{shuttleTimer | number : '1.2-2'}}</h1>  
          </div>
      </ion-col>
    <ion-col size="6" text-center>
      <span>Rest Timer</span>
          <div style="background-color:#c3d4b0;padding: 1em;border-radius:5px;">
              <h1 text-center style="text-align:center;color:black;">{{restTimer | number : '1.2-2'}}</h1>  
          </div>
      </ion-col>
  </ion-row>
</ion-grid>
</ion-card-content>
<ion-grid >        
  <div style="width: 100%; text-align: center; ">
    <h2>SCORES</h2>
  </div>
<!-- <ion-label text-center>Scores</ion-label> -->
<ion-row>
  <ion-col size="6">               
    <ion-card-content text-center>
      <p>Speed Level</p>
        <ion-item lines="none">
          <ion-label text-center>{{scoreSpeedLevel}}</ion-label>                  
        </ion-item>
    </ion-card-content>                           
  </ion-col>
  <ion-col size="6" >               
    <ion-card-content text-center>
      <p>Shuttle Number</p>
        <ion-item lines="none">
          <ion-label text-center>{{scoreShuttleNumber}}</ion-label>                  
        </ion-item>
    </ion-card-content>                           
  </ion-col>
</ion-row>
<ion-row>
  <ion-col size="6">               
    <ion-card-content text-center>
      <p>Speed (km/hr)</p>
        <ion-item lines="none">
          <ion-label text-center>{{scoreSpeed}}</ion-label>                  
        </ion-item>
    </ion-card-content>                           
  </ion-col>
  <ion-col size="6" >               
    <ion-card-content text-center>
      <p>Level Time (s)</p>
        <ion-item lines="none">
          <ion-label text-center>{{scoreLevelTime}}</ion-label>                  
        </ion-item>
    </ion-card-content>                           
  </ion-col>
</ion-row>    
<ion-row>
  <ion-col size="6">               
    <ion-card-content text-center>
      <p>Accumulated shuttle distance (m)</p>
        <ion-item lines="none">
          <ion-label text-center>{{scoreShuttleDist}}</ion-label>                  
        </ion-item>
    </ion-card-content>                           
  </ion-col>
  <ion-col size="6" >               
    <ion-card-content text-center>
      <p>Cumulative Time - with recovery period (s)</p>
        <ion-item lines="none">
          <ion-label text-center>{{scoreCumulativeTime}}</ion-label>                  
        </ion-item>
    </ion-card-content>                           
  </ion-col>
</ion-row>          
<ion-row>
  <ion-col size="6" offset="3">               
    <ion-card-content text-center>
      <p>Approx. VO<sup>2</sup> max(mL/min/kg)</p>
        <ion-item lines="none">
          <ion-label text-center>{{scoreVo2Max}}</ion-label>
        </ion-item>
    </ion-card-content>                           
  </ion-col>          
</ion-row>        
</ion-grid> 
